<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcoffeeatthree.com%2Fstarbucks-mocha-frappuccino-copycat%2F&psig=AOvVaw1PCZbMROQeTZIoOwR8Swcm&ust=1685671108453000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCLiWl6_8oP8CFQAAAAAdAAAAABAE" alt="">
</body>
</html>