
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,400;1,500&display=swap');
h3{
    font-family: 'Pacifico', cursive;
    color: #363431;
    font-size: 18px;

}
img{
    width: 100%;
}
.menu-img {
    max-width: 5rem;
}
.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
a,.link,h2,h6{
    font-family: 'Poppins', serif;
    color: #9F5500;
    font-weight: 500;
    font-size: 13px;
}
h6{
    font-size: 12px;
}
td,h5{
    font-size: 13px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: red;
    font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: red;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: red;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
}
::placeholder { /* Modern browsers */
   color: red;
}
.form-control{
    color: #9F5500!important;
    font-size: 12px;
}
.bg-brown-secondary{
    background-color: #ECE3D6;
}
.bg-test{
    background-color: #9F5500;
    
}
.border-main{
    border-color: #9F5500!important;
}
#user-logged{
    margin: 0;
    padding: 0;
}
.bg-main{
    background-color: #EFECE8;
}
.py-7{
    padding: 3rem 0 4rem 0;
}
.w-30{
    width: 30%;
}
.text-m{
    color: #9F5500;
}